ul.n1 {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: darkgray;
  }
  
  li.nav {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: rgb(132, 0, 255);
  }



* {box-sizing: border-box}

.container {
  width: 25%;
  border-collapse:unset;
}

.skills {
  text-align: right;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
}

.py {width: 80%; background-color: green;}
.java {width: 70%; background-color: greenyellow;}
.ds {width: 60%; background-color: orange;}

.proj {
  border: 5px solid black;
  background-color:grey;
  align-content: center;
  float:left;
  width: 26%;
  padding: 20px;
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 40px;
  }
.proj:hover{
  background-color: rgb(132, 0, 255);
  color: black;     
}

@media screen and (max-width: 600px) {
.proj {
width: 60%;
background-color: hotpink;
}
}
@media screen and (max-width: 400px) {
.proj {
width: 100%;
background-color: rgb(132, 0, 255);
align-content: center;
float:left;
width: 75%;
margin-left: 40px;
}
}
