.this {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 1050px;
  margin-left: 0px;
  background-color: #eae7f0;
  border: 2px solid #dddddd;
  padding-left:12px
            
}
@media screen and (max-width: 600px) {
.this {
background-color: rgb(190, 159, 219);
margin-top: 5px;
margin-bottom: 10px;
margin-right: 1050px;
margin-left: 0px;
border: 2px solid #dddddd;
padding-left:12px;
width: 65%
}
}
@media screen and (min-width: 0px) and (max-width: 400px) {
  .this {
  background-color: rgb(245, 236, 242);
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 1050px;
  margin-left: 0px;
  border: 2px solid #dddddd;
  padding-left:12px;
  width: 65%
  }
}

.button {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
button:hover{
  background-color: rgb(132, 0, 255);
} 

   